:root {
  --basic-bg-color: #e5e5e5;
  --secondary-text-color: #212121;
  --basic-text-color: #757575;
  --primary-white-color: #ffffff;
  --primare-blue-color: #2196f3;
  --medium-dark-color: #2f303a;
  --black-color: #000;
}

body {
  font-family: roboto, sans-serif;
  color: var(--basic-text-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* logo */
.logo {
  font-family: raleway, sans-serif;
  color: var(--black-color);

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  margin-right: 94px;
}
.logo-studio {
  font-family: raleway, sans-serif;
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
/* стили навигации хедера */
.contact-us,
.navigation,
.our-contacts {
  display: block;

  background-color: var(--primary-white-color);
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-border {
  border-bottom: 1px solid #ececec;
}

.navigation,
.our-contacts {
  padding: 32px 0;
}

.our-contacts {
  color: var(--basic-text-color);
}

.navigation:hover,
.navigation:focus,
.our-contacts:focus,
.our-contacts:hover {
  color: var(--primare-blue-color);
}

/* стили контейнера хедера */
.container,
.container-header {
  display: flex;

  margin: 0;
  /* margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; */

  align-items: center;
}
.container {
  width: 1200px;
  display: flex;
  align-items: center;

  flex-wrap: wrap;

  justify-content: center;

  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  /* background-color: green; */
}
.container-portfolio {
  /* box-sizing: content-box; */

  display: flex;
  flex-wrap: wrap;
}

.container-portfolio-page {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* .container-header {
  padding-left: 15px;
  margin: 0;
  padding: 0;

  align-items: center;
} */

.container-header-logo {
  display: flex;

  align-items: center;
  /* margin-left: 15px; */
}
.container-header-button {
  display: flex;
  margin-left: 50px;
}
.container-header-button:first-child {
  margin-left: 0;
}

.container-header-contacts {
  margin-left: auto;

  /* margin-right: 15px;
} */
}

/* стили решения для бизнеса, кнопки заказ  */

.solution {
  /* display: block; */
  /* min-height: 600px; */
  /* padding-bottom: 94px; */

  padding-top: 200px;
  padding-bottom: 200px;
}
.solution,
.main-solution {
  background-color: var(--medium-dark-color);
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.main-solution {
  max-width: 696px;
  margin: 0 auto;

  /* padding-top: 200px; */
  /* margin-right: auto;
  margin-left: auto; */
  margin-bottom: 30px;
}

.button-write-to-us {
  background-color: var(--primare-blue-color);
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 6px;

  text-align: center;
}

.button-display {
  flex-direction: column;
}
.button-write-to-us:hover,
.button-write-to-us:focus {
  background-color: #188ce8;
  cursor: pointer;
}
/* стили сраницы с преимуществами, нашей командой*/
/*  стили сетки блока преимуществ */
.main-menu {
  padding-bottom: 94px;
}

.about-us {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}
.container-about-us {
  margin: 0;
  padding: 0;
  margin-right: 30px;

  width: 270px;

  /* padding-top: 94px; */
}
.container-about-us:last-child {
  margin-right: 0;
}

.our-benefits {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 10px;
}

.our-benefits-text {
  margin: 0;
}
.container-images {
  margin-right: 30px;
  padding-bottom: 94px;
  padding: 0;
  width: 370px;
}
img {
  display: block;
}
.container-images:last-child {
  margin-right: 0;
}
/* наша команда, стили, сетка */
.our-team-block {
  background-color: #f5f4fa;
  padding-top: 94px;
}
.display {
  display: flex;
}
.display-hidden {
  display: flex;
  padding-top: 94px;
}

.container-images-about-us {
  /* display: flex; */

  background-color: #fff;
  margin-right: 30px;

  padding: 0;

  width: 270px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 94px;
}

.about-our-team {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* .image-about-us {
  margin-bottom: 30px;
} */

.container-images-about-us:last-child {
  margin-right: 0;
}

.our-team {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.our-team-position {
  color: var(--basic-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;

  margin: 0;
  padding: 0;
  /* margin-bottom: 30px; */
}
/* стиль лого Web */
span {
  color: var(--primare-blue-color);
}
/* стили футера */
.footer {
  /* display: block; */
  /* width: 1200px; */
  /* display: flex; */

  background-color: var(--medium-dark-color);
  text-align: left;

  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
}

.container-footer {
  display: block;
}
.footer-contacts {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  text-align: left;
}

.footer-contacts-decoration {
  margin-top: 9px;
}

.footer-contacts:hover,
.footer-contacts:active {
  color: var(--basic-text-color);
}
.address {
  display: block;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);

  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  /* портфолио, навигация клавишами */
}
.button-portfolio {
  background-color: #f5f4fa;
  font-family: Roboto sans-serif;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.button-portfolio-all {
  background-color: var(--primare-blue-color);
  color: var(--primary-white-color);
  font-family: Roboto sans-serif;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.button-portfolio,
.button-portfolio-all {
  display: block;
  /* margin-right: 8px; */
  border-radius: 6px;
  text-align: center;
  /* margin-bottom: 50px; */
  border: none;
}
.container-button-portfolio {
  /* padding-top: 94px; */
  /* padding-bottom: 0; */
  display: flex;
  margin-bottom: 50px;
}
/* .button-portfolio:last-child() {
  margin-right: 0;
} */

.button-potfolio-list {
  margin-right: 8px;
}
.button-potfolio-list:last-child() {
  margin-right: 0;
}
/* выделение текущей вкладки */
.activ-button {
  color: var(--primare-blue-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
/* фокус и ховер кнопок */
.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--primary-white-color);
  background-color: var(--primare-blue-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
/* фото портфолио */
.photo-of-our-projects {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin: 0;
  padding: 0;
  margin-bottom: 4px;
  /* padding-left: 24px; */
}

/* .image-projects {
  margin-bottom: 20px;
} */

/* наши проекты */
.our-projects {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--basic-text-color);

  margin: 0;
  padding: 0;
  /* margin-bottom: 20px;
  padding-left: 24px; */
}
/* сетка проектов  */
.container-projects {
  background-color: #fff;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 0;
  max-width: 370px;
}

.portfolio-about-our-works {
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.hidden-block {
  margin-top: -30px;
}

.container-projects:nth-child(3n) {
  margin-right: 0;
}
.container-projects:nth-last-child(-n + 3) {
  /* padding-bottom: 94px; */
  padding-bottom: 0;
  margin-bottom: 0;
}
.our-projects-web {
  cursor: pointer;
  text-decoration: none;
}

/* скроем вспомогательный текст */

.hidden-block-two {
  visibility: hidden;
  margin: 0;
  padding: 0;
  margin-top: -42px;
}
